@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}
.link li{
    list-style: none;
    display: inline;
    margin: 0 15px;
}

ul li a{
    text-decoration: none;
    color: green;
    font-weight: lighter;

}

/* .link li a:hover{
    text-decoration: underline;
    color: blue;
} */

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}
/* nav ends here */

.hero-section{
    display: flex;
    justify-content: space-around;
    padding: 40px 85px;
}

.hero-img img{
    width: 200px;
    height: 200px;
}

.ppp .ppp-img{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}


.ppp{
    display: flex;
    align-items: center;
}

.ppp p{
    width: 100%;
}

.hero-section img{
    width: 600px;
    height: 500px;
}

.section-text h1{
    width: 90%;
    font-size: 70px;
    padding: 30px 0;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    /* font-family: "SN Pro", sans-serif; */
}

.section-text .mtn{
    width: 90%;
    line-height: 1.5;
    font-size: 18px;
}

.btn{
    padding: 20px 25px;
    margin: 20px;
    background-color: rgb(44, 87, 44);
    color: white;
    border: none;
    font-size: 16px;
}
/* section ends here */

article{
    background-color: rgb(2, 51, 2);
    padding: 50px 110px;
}

.grid{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    gap: 20px;
}

.grid .atom img{
    padding-left: 50px;
}

.grid .atom h2{
    margin-top: 10px;
    color: white;
}

.grid .atom p{
    color: white;
    margin-top: 10px;
}
/* article ends here */


.time{
    background-color: aliceblue;
    padding: 70px;
}
main{
    display: flex;
    justify-content: space-around;

}

main h1{
    font-size: 70px;
    width: 100%;
    /* margin-left: 90px; */
}

main div p{
    font-size: 20px;
    margin-left: 100px;
    margin-top: 10px;
    width: 50%;
    line-height: 1.5;
}

.btn1{
    padding: 10px 20px;
    margin-top: 20px;
    background-color: rgb(2, 87, 2);
    color: white;
    border: none;
    margin-left: 100px;
}

.add .btn1, .button{
    display: flex;
    align-items: center;
}

/* main ends here */

header{
    display: grid;
    justify-content: space-around;
    grid-template-columns: 1fr 1fr 1fr;
    /* column-gap: 30px; */
    gap: 20px;
    margin-top: 30px;
}

.plus{
    background-color: #fff;
    padding: 30px;
    border: 0.5px solid gray;
   /* box-shadow: 1px 1px 1px 1px; */
   border-radius: 8px;
}

.plus:hover{
   transition: ease-in 0.5s;
   transform: scale(1.05);
}


.plus h4{
    font-weight: lighter;
    font-size: 20px;
    margin-top: 10px;
}

.btn5{
    border: none;
    background-color: white;
    font-size: 18px;
    margin-top: 20px;
}

figure{
    display: flex;
    margin: 10px 15px;
}

.celeb h1{
    margin-left: 150px;
    margin-top: 30px;
}

.celeb img{
    margin-left: 230px;
}

.celeb p{
    margin-left: 50px;
    width: 100%;
    margin-bottom: 10px;
}

.code{
    margin: 40px 0;
}


.code input{
    padding: 10px 55px;
    margin-left: 20px;
    border-radius: 5px;
    border: 0.5px solid grey;
   
}

.celeb textarea{
    width: 550px;
    padding: 10px 10px 50px 10px;
    margin-left: 20px;
    border-radius: 10px;
}

.btn2{
    padding: 20px 40px;
    margin-left: 20px;
    background-color: rgb(6, 92, 6);
    color: white;
    margin-top: 20px;
    border: none;
}

.well{
    width: 550px;
    height: 600px;
    margin-left: 150px;
}
/* figure ends here */

aside{
    background-color: rgb(37, 100, 37);
    height: 75vh;

}

aside h4{
    color: white;
    padding-top: 50px;
    font-size: 30px;
    font-weight: lighter;
}

.hot{
    color: white;
    padding: 10px;
}

.group{
    display: flex;
    padding: 0 40px;
    gap: 40px;
}

.green{
    display: flex;
    align-items: center;
   
}

.gain{
     background-color: #fff;
     border-radius: 10px;
     padding: 30px;
}

.blue{
    width: 100px;
    height: 100px;
}

.gain h5{
    font-size: 20px;
    font-weight: lighter;
    margin: 10px 0;
}

.gain p{
    line-height: 1.5;
    font-size: 17px;
    font-weight: lighter;
}
/* aside ends here */

.grow{
    background-color: aliceblue;

}

.grow h3{
    font-size: 40px;
    margin-left: 500px;
    padding-top: 40px;
}

.offer{
    margin-left: 620px;
    padding-top: 10px;

}

.grow p{
    margin-left: 400px;
    font-size: 20px;
    font-weight: lighter;
}

.leader{
    display: flex;
    align-items: center;
    gap: 28px;
    padding: 50px;
   
}

.focus{
    background-color: #fff;
    border-radius: 10px;
   
}

.blog{
    width: 410px;
    height: 300px;
}

.leader .fruit h2{
    color: rgb(13, 77, 13);
    padding: 10px;
    
}


.focus .fruit h1{
    width: 70%;
    font-size: 35px;
    padding-left: 10px;
}

.focus .fruit p{
    width: 80%;
    margin: 0;
    padding: 10px;
    line-height: 1.5;
}

.fun{
    font-size: 25px;
    font-weight: bold;
    margin: 10px;
    background-color: #fff;
    border: none;
    color: rgb(6, 100, 6);
}

.view{
    margin-left: 600px;
    margin-bottom: 30px;
    padding: 8px 20px;
    background-color: rgb(6, 65, 6);
    color: white;
    border: none;
    font-size: 20px;
    font-weight: bold;
}
/* figcaption ends here */

footer{
    background-color: rgb(13, 99, 13);
}

.item{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    gap: 20px;
    line-height: 2;
    padding: 40px 100px;
}


.kacey h2{
    color: white;
}

.kacey p{
    color: white;
}

.item li{
    list-style: none;
}

.item li a{
    text-decoration: none;
    color: white;
}

.item li a:hover{
    text-decoration: underline;
    color:black;
}

.item i{
    color: white;
}









/* media query starts here */
@media screen and (max-width:850px){
    nav .link li{
        display: none;
    }

    .hero-section{
        flex-direction: column;
        padding: 0 10px;
        margin: 0;
    }

    .hero-section .section h1{
        font-size: 50px;
        width: 100%;
    }

    .hero-section img{
        width: 450px;
        height: 450px;
    }
    
    .grid{
        flex-direction: column;
    }

    .grid .atom img{
        padding-left: 20px;
    }

    .grid .atom h2{
        width: 95%;
        font-size: 20px;
    }

    .grid .atom p{
        width: 100%;
    }

    main{
        flex-direction: column;

    }

    main h1{
        font-size: 30px;
    }

    main div p{
        width: 105%;
        margin-left: 2px;
        line-height: 1.5;
    }

    .btn1{
        margin-left: 10px;
    }

    header{
        grid-template-columns: 1fr;
        
    }

    .plus h4{
        width: 100%;
    }

    .plus p{
        width: 100%;
        font-size: 20px;
    }

    figure{
        flex-direction: column;
    }

    .celeb h1{
        margin-left: 50px;
        width: 100%;
    }

    .celeb img{
        margin-left: 130px;
        padding-top: 10px;
    }

    .celeb p{
        margin-left: 20px;
        width: 100%;
        text-align: center;
    }

    .code{
        margin: 0;
    }
    
    .code input{
        margin: 15px 10px;
    
    }

    .celeb textarea{
        width: 350px;
        margin-left: 10px;
    }

    .btn2{
        margin-left: 10px;
    }

    .well{
    width: 360px;
    height: 350px;
    margin-left: 9px;
    margin-top: 15px;
    margin-top: 15px;
    }

    aside{
        height: 175vh;
    }

    aside h4{
        padding-left: 20px;
    }

    .hot{
        padding-left: 20px;
    }

    .group{
        flex-direction: column;
    }

    .grow h3{
    font-size: 30px;
    margin-left: 50px;
    padding-top: 40px;
    width: 100%;
   }

   .offer{
    margin-left: 110px;
    padding-top: 10px;
   }

   .grow p{
    width: 100%;
    margin-left: 15px;
    font-size: 16px;
    font-weight: lighter;
    text-align: center;
   }

   .leader{
    flex-direction: column;
    padding: 50px;
   }

   .blog{
    width: 300px;
    height: 200px;
   }

   .focus .fruit h1{
    width: 100%;
   }

   .focus .fruit P{
    width: 100%;
    margin: 0;
    line-height: 1.5;
    text-align: center;
   }

   .view{
    margin-left: 120px;
   }

   footer{
    padding-top: 20px;
    padding-right: 50px;
    gap: 10px;
    text-align: center;
   }

   .item{
    flex-direction: column;
    padding: 50px 0;
    align-items: center;
   }




}



    